{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="center" id="login-box">
        <div class="headerl">
            <h1 class="activt">ActiVT</h1>
            <h1>Login</h1>
        </div>


        <div>
            {% for message in messages %}
            <h5>{{message}}</h5>
            {% endfor %}
        </div>

        <form action = "" class="postl" method="POST">
            {% csrf_token %}
            <div class="txt_field">
                <input name="username" type="username" required>
                <label>Username</label>
            </div>
            <div class="txt_field">
                <input name="password" type="password" required>
                <label>Password</label>
            </div>
            <input type="submit" value="Login">
            <div class="pass">Forgot Password?</div>
            <div class="signup_link">
                <a href="/signup">Sign Up</a>
            </div>
        </form>
    </div>
</body>
</html>